<md-content class="md-padding">
  <div layout="row">
    <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin class="material-icons">sort</md-icon>
      </md-button>
      <md-menu-content width="4" class="with-radio">
        <md-radio-group ng-model="ctrl.sorting">
          <md-menu-item>
            <md-radio-button value="name" ng-click="" class="md-primary"><span localize>Name</span></md-radio-button>
          </md-menu-item>
          <md-menu-item>
            <md-radio-button value="-balance" ng-click="" class="md-primary"><span localize>Balance</span></md-radio-button>
          </md-menu-item>
        </md-radio-group>
      </md-menu-content>
    </md-menu>

    <span flex></span>

    <md-button ng-click="ctrl.showInviteMember($event)"><span localize>Add member</span></md-button>
  </div>

  <md-list>
    <md-list-item ng-click="" class="md-2-line" ng-repeat="member in ctrl.group.members | orderBy: ctrl.sorting">
      <div class="md-list-item-text">
        <div layout="row">
          <h3>{{ member.name }}</h3>
          <span flex></span>
          <p ng-class="{ 'red': member.balance < 0, 'green': member.balance > 0  }">&euro; {{ member.balance }}</p>
        </div>
        <p>{{ member.email }}</p>
      </div>
    </md-list-item>
  </md-list>
</md-content>