<form layout-gt-sm="column" layout-padding name="loginForm">
  <md-content class="autoScroll">

    <md-input-container class="md-block">
      <label localize>Email address</label>
      <input required type="email" name="email" ng-model="vm.user.email" autofocus>
      <div ng-messages="loginForm.email.$error">
        <div ng-message="required"><span localize>This is required.</span></div>
        <div ng-message="email"><span localize>Make sure your email address is valid.</span></div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label localize>Password</label>
      <input ng-model="vm.user.password" name="password" type="password">
      <div ng-messages="loginForm.password.$error">
        <div ng-message="required"><span localizeThis is required.</span></div>
      </div>
    </md-input-container>

    <div class="bottom-sheet-demo inset" layout="column">
      <md-button type="submit" class="md-primary md-raised" ng-click="vm.login()"><span  localize>Log in</span></md-button>
      <md-button ui-sref="public.forgotpassword"><span localize>I forgot my password</span></md-button>
      <md-button ui-sref="public.signup"><span localize>I don't have an account</span></md-button>
    </div>

  </md-content>
</form>
