<md-content class="md-padding">

  <md-subheader ng-if="vm.inactiveGroups.length"><span localize>New groups</span></md-subheader>

  <md-card class="alert" ng-repeat="group in vm.inactiveGroups | orderBy: membership.createdAt">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{::group.name}}</span>
        <span class="md-subhead" am-time-ago="group.membership.createdAt"></span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="vm.reject(group)"><span localize>Reject</span></md-button>
      <md-button ng-click="vm.confirm(group)"><span localize>Confirm</span></md-button>
    </md-card-actions>
  </md-card>

  <md-subheader ng-if="vm.inactiveGroups.length"><span localize>Your groups</span></md-subheader>

  <div layout="row" ng-if="vm.groups.length">
    <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin class="material-icons">sort</md-icon>
      </md-button>
      <md-menu-content width="4" class="with-radio">
        <md-radio-group ng-model="vm.sorting">
          <md-menu-item>
            <md-radio-button ng-click="" value="name" class="md-primary"><span localize>Name</span></md-radio-button>
          </md-menu-item>
          <md-menu-item>
            <md-radio-button ng-click="" value="-balance" class="md-primary"><span localize>Balance</span></md-radio-button>
          </md-menu-item>
          <md-menu-item>
            <md-radio-button ng-click="" value="createdAt" class="md-primary"><span localize>Creation date</span></md-radio-button>
          </md-menu-item>
        </md-radio-group>
      </md-menu-content>
    </md-menu>

    <span flex></span>
  </div>

  <md-card class="alert" ng-if="!vm.groups.length">
    <md-card-content>
      <p localize>You are not in any groups yet! When you are, they will appear here.</p>
    </md-card-content>
  </md-card>

  <md-list>
    <md-list-item ng-click="vm.show(group)" class="md-2-line" ng-repeat="group in vm.groups | orderBy: vm.sorting" ng-if="group.membership.active">
      <div class="md-list-item-text">
        <div layout="row">
          <h3>{{ group.name }}</h3>
          <span flex></span>
          <p ng-class="{ 'red': group.balance < 0, 'green': group.balance > 0  }">&euro; {{ group.balance }}</p>
        </div>
        <p localize data-num="{{group.members.length}}">{num} members</p>
      </div>
    </md-list-item>
  </md-list>
</md-content>
