<form layout-gt-sm="column" layout-padding name="forgotPasswordForm" ng-if="!vm.token">
  <md-content class="autoScroll">

    <md-input-container class="md-block">
      <label localize>Email address</label>
      <input required type="email" name="email" ng-model="vm.email" autofocus>
      <div ng-messages="forgotPasswordForm.email.$error">
        <div ng-message="required"><span localize>This is required.</span></div>
        <div ng-message="email"><span localize>Make sure your email address is valid.</span></div>
      </div>
    </md-input-container>

    <div layout="column">
      <md-button type="submit" class="md-primary md-raised" ng-click="vm.reset()"><span localize>Reset password</span></md-button>
      <md-button ui-sref="public.login"><span localize>Back to log in</span></md-button>
    </div>

  </md-content>
</form>

<form layout-gt-sm="column" layout-padding name="newPasswordForm" ng-if="vm.token">
  <md-content class="autoScroll">

    <md-input-container class="md-block">
      <label localize>Email address</label>
      <input disabled type="email" name="email" ng-model="vm.email">
    </md-input-container>

    <md-input-container class="md-block">
      <label localize>New password</label>
      <input ng-model="vm.newPassword" name="newPassword" type="password" autofocus>
      <div ng-messages="newPasswordForm.newPassword.$error">
        <div ng-message="required"><span localize>This is required.</span></div>
      </div>
    </md-input-container>

    <div layout="column">
      <md-button type="submit" class="md-primary md-raised" ng-click="vm.setPassword()"><span localize>Confirm</span></md-button>
    </div>

  </md-content>
</form>

