<md-dialog aria-label="Add payment"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-icon class="material-icons" ng-click="vm.cancel()">close</md-icon>
        <span flex></span>
        <md-button class="md-accent" ng-click="vm.create()">
          <span localize>Add</span>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-content class="md-padding autocomplete" layout="column">
        <form name="paymentForm">

          <md-input-container>
            <label localize>Amount</label>
            <input type="number" step="0.01" name="amount" ng-model="vm.payment.amount" md-autofocus>
          </md-input-container>

          <md-input-container>
            <label localize>Payed by</label>
            <md-select ng-model="vm.payment.payedBy">
              <md-option ng-repeat="participant in vm.participants" value="{{::participant.email}}">
                {{::participant.name}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block">
            <label localize>Short description</label>
            <input type="text" name="description" ng-model="vm.payment.description">
          </md-input-container>

          <div layout="row">
            <md-button ng-click="vm.increaseAllParticipants()" class="md-raised md-primary" flex="50">
              <span localize>Everyone</span> +1
            </md-button>
            <md-button ng-click="vm.resetAllParticipants()" class="md-raised" flex="50">
              <span localize>Reset</span>
            </md-button>
          </div>

          <md-list>
            <md-list-item ng-repeat="participant in vm.participants" ng-click="vm.increaseParticipant(participant)" class="md-with-secondary md-2-line" ng-class="{ 'not-active': participant.weight == 0 }">
              <div class="md-list-item-text">
                <h3>{{::participant.name}}</h3>
                <p>{{participant.weight}}x</p>
              </div>
              <md-icon class="material-icons md-secondary" ng-click="vm.decreaseParticipant(participant)" aria-label="Decrease weight">remove</md-icon>
            </md-list-item>
          </md-list>

        </form>
      </md-content>
    </md-dialog-content>
  </form>
</md-dialog>