<md-content class="md-padding">
  <div layout="row">
    <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin class="material-icons">sort</md-icon>
      </md-button>
      <md-menu-content width="4" class="with-radio">
        <md-radio-group ng-model="vm.sorting">
          <md-menu-item>
            <md-radio-button value="payedBy.name" ng-click="" class="md-primary"><span localize>Payed by</span></md-radio-button>
          </md-menu-item>
          <md-menu-item>
            <md-radio-button value="-amount" ng-click="" class="md-primary"><span localize>Amount</span></md-radio-button>
          </md-menu-item>
          <md-menu-item>
            <md-radio-button value="-createdAt" ng-click="" class="md-primary"><span localize>Creation date</span></md-radio-button>
          </md-menu-item>
        </md-radio-group>
      </md-menu-content>
    </md-menu>

    <span flex></span>

    <md-button ng-click="vm.showCreatePayment($event)"><span localize>Add payment</span></md-button>
  </div>
  <md-list>
    <md-list-item ng-click="vm.openPaymentOptions($event)" class="md-3-line md-payment" ng-repeat="payment in vm.group.payments | orderBy: vm.sorting">
      <div></div>
      <div class="md-list-item-text">
        <div layout="row">
          <h3>&euro; {{::payment.amount}}</h3>
          <span flex></span>
          <p am-time-ago="payment.createdAt"></p>
        </div>
        <p>{{::payment.payedBy.name}} - {{::payment.description}}</p>
        <p><span localize>Payed for</span> {{::vm.participants_to_string(payment.participants)}}</p>
      </div>
    </md-list-item>
  </md-list>

  <md-card class="alert" ng-if="!vm.group.payments.length">
    <md-card-content>
      <p localize>There are no payments made in this group.</p>
    </md-card-content>
  </md-card>
</md-content>
