md-menu-content.with-radio md-menu-item {
  padding-left: 20px !important;
}

.md-list-item-text {
  position: relative;
  p.red {
  	color: #f44336 !important;
  }
  p.green {
  	color: #2e7b32 !important;
  }
}