<form layout-gt-sm="column" layout-padding name="settingsForm">
  <md-content class="autoScroll">

    <md-input-container class="md-block">
      <label localize>Name</label>
      <input type="text" required name="name" ng-model="vm.settings.name">
      <div ng-messages="settingsForm.name.$error">
        <div ng-message="required" localize>This is required.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label localize>Bankaccount number</label>
      <input type="text" required name="bankaccount" ng-model="vm.settings.bankAccount">
      <div ng-messages="settingsForm.bankaccount.$error" md-auto-hide="false">
        <div ng-message="required" localize>You can't leave this empty.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <label localize>Email address</label>
      <input type="email" disabled name="email" ng-model="vm.settings.email">
    </md-input-container>
    <md-input-container class="md-block">
      <label localize>New password</label>
      <input type="password" name="password" ng-model="vm.newPassword">
    </md-input-container>

    <div layout="column">
      <md-button type="submit" class="md-primary md-raised" ng-click="vm.save()"><span  localize>Save</span></md-button>
    </div>

    <div layout="column">
      <md-button type="submit" class="md-primary md-raised md-warn" ng-click="vm.delete()"><span  localize>Delete account</span></md-button>
    </div>

  </md-content>
</form>
